.info-box, .search-box{
	right: 15px;
	top: 112px;
	height: 300px;
	width: 29%;
	position: absolute;
	border: 1px solid #ddd;
	border-top: 0px;
	padding: 0% 1.2%;
	.search-element-input{
		padding: 6px 10px;		
		border-radius: 0px 4px 4px 0px;
	}
	.col-xs-1{
		float: right;
	}
}
.confirm-check{
  position: absolute;
  z-index: 9999;
  height: 80px;
  width: 225px;
  background-color: white;
  border: 1px solid #ccc;
  .confirm-text{
    height: 40px;
  }
  .confirm-accept{
    padding: 10px 0px;
    background-color: #b3ffb3;
    cursor: pointer
  }
  .confirm-reject{
    cursor: pointer;
    padding: 10px 0px;
    background-color: #ffb3b3;
  }
}
.info-select-user{
  position: absolute;
  overflow-y: overlay;
  height: 250px;
  width: 300px;
  left: 0px;
  top: 50px;
  z-index: 100;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  .search-element-input{
	  padding: 9px 12px;
	  border-radius: 0px 4px 4px 0px;
  }
  .list-group{
	width: 96%;
  }
  .select-user-name{
	text-align: start;
  }
  .select-user-seat{
	font-size: 11px;
	vertical-align: bottom;
	font-style: italic;
	text-align: end;
  }
}
.dropdown-menu.info-box-search{
  left: 50px;
}
.dropdown-menu.search-box-search{
  left: 207px;
}
.search-element-exit{
  position: relative;
  float: right;
  left: 10px;
  top: -10px;
}
