.info-box, .search-box{
	right: 15px;
	top: 112px;
	height: 300px;
	width: 29%;
	position: absolute;
	border: 1px solid #ddd;
	border-top: 0px;
	.input-group{
		padding: 0% 5%;
	}
	.search-element-input{
		padding: 6px 10px;		
		border-radius: 0px 4px 4px 0px;
	}
}
.info-select-user{
  position: absolute;
  overflow-y: overlay;
  height: 250px;
  width: 300px;
  top: 50px;
  z-index: 100;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  .search-element-input{
	  padding: 9px 12px;
	  border-radius: 0px 4px 4px 0px;
  }
}
.dropdown-menu.info-box-search{
  left: 50px;
}
.search-element-exit{
  position: relative;
  float: right;
  left: 10px;
  top: -10px;
}
