body{
	min-width: 1335px;
	min-height: 450px;
}
.info-box.confirm-position{
	background-color: white;
	right: initial;
	height: 330px;
	top:50%;
	left:50%;
	margin-top:-150px; 
	margin-left:-14.5%;
	.form-td{
		padding: 0px;
		input{
			border-width: 0px;
			padding: 8px;
		}
		.glyphicon-wrench{
			float: right;
			padding: 10px 2px;
		}
	}
}
.modify-accept{
	padding: 16px;
	text-align: center;
	background-color: green;
}
.modify-reject{
	padding: 16px;
	text-align: center;
	background-color: red;
}
.pointer-cursor{
	cursor: pointer
}